.git
.idea
autom4te.cache
build-aux
m4/l*.m4
src/.deps
src/.libs
src/*.o
src/*/*.o
src/*.exe
src/Makefile
src/Makefile.in
aclocal.m4
config.log
config.status
configure
libtool
Makefile
Makefile.in

CMakeLists.txt
cmake-build-debug